version: "3.9"

services:
  api:
    build: .
    container_name: ragpersonal-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./uploaded_files:/app/uploaded_files
    restart: unless-stopped
